.Bar {
    padding: 20px;
    margin-bottom: 20px;
    background: burlywood;
}

.HeadName {
    width: 100%;
    float: left;
    padding: 20px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    background: rgb(35, 112, 136);
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.AboutPage {
    float: right;
    padding: 20px;
    margin-bottom: 20px;
    color: rgb(109, 157, 161);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.PortfolioPage {
    float: right;
    padding: 20px;
    margin-bottom: 20px;
    color: rgb(179, 155, 49);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.ContactPage {
    float: right;
    padding: 20px;
    margin-bottom: 20px;
    color: rgb(179, 49, 151);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.LooksGood {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.SectionSize {
    padding: 20px;
    width: 960px;
    background-color: white;
    border:1px solid teal;
}

.GoodSpot {
    overflow: auto;
    float: left;
    padding: 20px;
}