#HeadName {
    margin: 20px;
    margin: auto;
    padding: 20px;
    color: rgb(255, 255, 255);
    
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    width: 50%;
    float: left;
}

hr {
     color: #d0daea;
}

.BackBox {
    height: 10px;;
    margin: 30px;
    background: white;
}

.bar {
    background: rgb(35, 112, 136);
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    float: right;
    color: rgb(109, 157, 161);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.SectionSize {
    margin-top: 200px;
    margin: auto;
    padding: 20px;
    width: 960px;
    background-color: white;
    border:1px solid teal;
}

.GoodSpot {
    overflow: auto;
    float: left;
    padding: 20px;
}

.images {
    width: 960px
    border:1px solid teal;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
